<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tdin360.zjw.marathon"
    android:versionCode="220"
    android:versionName="2.2.0">

    <!-- 打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 打开相机 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 极光推送配置 -->
    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 银联支付权限配置 -->
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc.hce" />

    <application
        android:name=".app.App"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false">

        <!-- 高德地图配置 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="47b527023c8cf9a76fedc94d47f47436">

            <!-- 开发者申请的key -->
        </meta-data>

        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <!-- alipay sdk begin -->

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- alipay sdk end -->
        <!-- 微信支付 回调 -->

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx56d6dadff22bbf5e" />
            </intent-filter>
        </activity>
        <!-- 支付回调 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop" />

        <receiver android:name=".wxapi.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <!-- 极光推送 -->


        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.tdin360.zjw.marathon" />
            </intent-filter>
        </service>
        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="com.tdin360.zjw.marathon" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".jiguan.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- 引导界面 -->
        <activity
            android:name=".ui.activity.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyNoticeMessageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 友盟分享集成 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58ad39b89f06fd36410004df" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <!-- 友盟 -->


        <!-- 微博回调 -->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- QQ精简版分享配置 -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105925323" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name=".service.DownloadAPKService" />

        <activity
            android:name=".ui.activity.FeedbackListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RegisterOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddCircleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="cn.finalteam.rxgalleryfinal.ui.activity.MediaActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.HotelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HotelDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PhotoBrowseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ZxingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TravelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TravelDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TravelOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HotelOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChangeSignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChangePhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ForgetPswActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TravelOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HotelRoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HotelRoomInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HotelRoomSubmitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TravelOrderSubmitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CircleDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PublishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CircleMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyCircleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CircleDetailPraiseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HotelMoreCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CallBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HotelCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChangePhoneNewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BindPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TravelCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TravelMoreCommentActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.activity.MyNoticeDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.ZxingWebActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.RegisterServiceActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>